<header id="siteHeader">
  <nav>
    <a href="/index.html#top" class="brand">
      <div class="brand-mark">
        <img src="/images/index/page2_img7.jpeg" alt="RM MARK" style="width:38px; height:38px; border-radius:9px; object-fit:cover;">
      </div>
      <div class="brand-text">
        <span class="b1">RM MARK</span>
        <span class="b2">Coding &amp; Marking Services</span>
      </div>
    </a>
    <ul class="nav-links" id="navLinks">
      <li><a href="/index.html#top">Accueil</a></li>
      <li class="has-dropdown">
        <a href="/index.html#solutions">Products <i class="fa-solid fa-chevron-down" style="font-size:.7em;margin-left:4px;"></i></a>
        <div class="dropdown-menu">
          <a href="/products/l1/produits-jet-encre.html">Jet d'encre</a>
          <a href="/products/l2/l2.html">Marquage Laser</a>
          <a href="/products/l3/l3.html">Maintenance-free</a>
          <a href="/products/l4/l4.html">Labeling</a>
          <a href="/products/l5/l5.html">consumables</a>
          <a href="/products/l6/l6.html">Hand type coding devices</a>
          <a href="/products/l7/l7.html">machine dikai</a>
        </div>
      </li>
      <li><a href="/index.html#solution">Solution</a></li>
      <li><a href="#" class="nav-cta" onclick="openModal('modalDevis'); return false;">Demande d'information</a></li>
    </ul>
    <div class="burger" id="burger"><span></span><span></span><span></span></div>
  </nav>
</header>